{
	"parser": "babel-eslint",
	"env": {
		"browser": true
	},
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"react/jsx-closing-bracket-location": "off",
		"react/jsx-closing-tag-location": "off",
		"react/jsx-curly-spacing": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-equals-spacing": "off",
		"react/jsx-first-prop-new-line": "off",
		"react/jsx-indent": "off",
		"react/jsx-indent-props": "off",
		"react/jsx-max-props-per-line": "off",
		"react/jsx-tag-spacing": "off",
		"react/jsx-wrap-multilines": "off",
		"jsx-a11y/label-has-associated-control": [
			"error",
			{
				"required": {
					"some": ["nesting", "id"]
				}
			}
		],
		"jsx-a11y/label-has-for": [
			"error",
			{
				"required": {
					"some": ["nesting", "id"]
				}
			}
		]
	},
	"settings": {
		"import/resolver": {
			"alias": [["src", "./src"]],
			"webpack": {
				"config": "config/webpack.config.js"
			}
		}
	}
}
